<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsy.xuki.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="com.zsy.xuki.entity.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="creatTime" property="creattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zsy.xuki.entity.Log" >
    insert into log (id, content, creatTime
      )
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zsy.xuki.entity.Log" >
    update log
    set content = #{content,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, content, creatTime
    from log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="Map" >
    select id, content, creatTime
    from log where 1 = 1
    <if test="name != null">
      and content like '%${name}%'
    </if>
    <if test="offset != null and pageSize != null">
      limit #{offset},#{pageSize}
    </if>
  </select>
  <!-- 获取符合结果的总记录数 -->
  <select id="getTotal" parameterType="Map" resultType="Integer">
    select count(*) from log where 1 = 1
    <if test="name != null">
      and content like '%${name}%'
    </if>
  </select>
</mapper>
